<div id="script" >
<script>
$(function () {
    $('#container1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'pourcentage Games won and lost'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Won', {{ won}}],
                ['Lost',  {{ lost}}],
		['Drawn',  {{ draw}}],
            ]
        }]
    });


    $('#container4').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'pourcentage Games won and lost as white'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Games won and Lost as white',
            data: [
                ['Won', {{won_white}}],
                ['Lost', {{lost_white}}],
		['Drawn', {{draw_white}}],
            ]
        }]
    });


    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'pourcentage Games won and lost as black'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Games won and Lost as black',
            data: [
                ['Won', {{won_black}}],
                ['Lost', {{lost_black}}],
		['Drawn', {{draw_black}}],
            ]
        }]
    });


    $('#container5').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Most Played First moves as white'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Most Played First moves as white',
            data: [
		{% for i in w_moves %}
		    ['{{i.0}}', {{i.1}}],
		{% endfor %}
            ]
        }]
    });


    $('#container6').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Most Played First moves as black'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Most Played First moves as black',
            data: [
		{% for i in b_moves %}
		    ['{{i.0}}', {{i.1}}],
		{% endfor %}
            ]
        }]
    });


    $('#container7').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Win terminations'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Win terminations',
            data: [
		{% for i in w_termination %}
		    ['{{i.0}}', {{i.1}}],
		{% endfor %}
            ]
        }]
    });


    $('#container8').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Loss terminations'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Loss terminations',
            data: [
		{% for i in l_termination %}
		    ['{{i.0}}', {{i.1}}],
		{% endfor %}
            ]
        }]
    });


    $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Time control'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Time control',
            data: [
		{% for i in time_controls %}
		    ['{{i.0}}', {{i.1}}],
		{% endfor %}
            ]
        }]
    });



        $('#container9').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Bullet Elo variation with time'
            },
            xAxis: {
                categories: [
		{% for i in timeline %}
		    '{{i.0}}',
		{% endfor %}
]
            },
            yAxis: {
                title: {
                    text: 'Elo rating'
                }
            },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'Elo';
                }
            },
            plotOptions: {
                line: {
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Elo',
                data: [
		{% for i in timeline %}
		    {{i.1}},
		{% endfor %}
]
            }]
        });


        $('#container10').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Blitz Elo variation with time'
            },
            xAxis: {
                categories: [
		{% for i in timeline2 %}
		    '{{i.0}}',
		{% endfor %}
]
            },
            yAxis: {
                title: {
                    text: 'Elo rating'
                }
            },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'Elo';
                }
            },
            plotOptions: {
                line: {
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Elo',
                data: [
		{% for i in timeline2 %}
		    {{i.1}},
		{% endfor %}
]
            }]
        });

});
</script>
</div>




